@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: #f1f1f1;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 78px;
  background: #fafafa;
  padding: 6px 14px;
  transition: all 0.5s ease;
  box-shadow: 1px 0 20px rgba(0, 0, 0, 0.20);
  z-index: 10000; 

}

.sidebar.active {
  width: 240px;
}

.sidebar .logo-content .logo {
  color: #1a1259;
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  cursor: pointer;
  pointer-events: auto;
  transition: all 0.5s ease;

}

.sidebar.active .logo-content .logo {
  opacity: 1;
  margin-right: 1px;
  pointer-events: auto;
}

.sidebar.active .logo-content .logo .logo-name {
    opacity: 1;
    transition: all 0.5s ease;
  }

.logo-content .logo i {
  font-size: 28px;
  margin-right: 1px;
}

.logo-content .logo .logo-name {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  opacity: 0;
  margin-right: 5px;

}

.logo {
    padding-left: 5px;
  }

.sidebar #btn {
  position: absolute;
  color: #fff;
  left: 50%;
  top: 6px;
  font-size: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
}

.sidebar.active #btn {
  left: 90%;
}

.sidebar ul {
  margin-top: 20px;
}

.sidebar ul li {
  list-style: none;
  height: 50px;
  position: relative;
  width: 100%;
  margin: 0 5px;
  line-height: 50px;
  border-radius: 12px;
  font-weight: 400;
  margin: 0 5px 12px 5px;

}

.sidebar ul li .tooltip {
    position: absolute;
    height: 35px;
    width: 170px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    left: 90px; 
    top: 50%;
    transform: translateY(-50%);
    border-radius: 6px;
    line-height: 35px;
    text-align: center;
    transition: all 0.3s ease;
    opacity: 0;
    pointer-events: none;
    display: block;
    z-index: 10001; 
  }



  
  .sidebar ul li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    z-index: 9999;

  }
  
  .sidebar.active ul li .tooltip {
    left: 240px; 
    z-index: 999;
  }
  

.sidebar ul li:hover .tooltip {
  transition: all 0.5s ease;
  opacity: 1;
  top: 50%;
}




.sidebar ul li a {
  color: #1a1259;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  border-radius: 12px;
}

.sidebar ul li a:hover {
  background: #1a1259;
  color: #fff;
  border-radius: 12px;
  font-weight: 500;
}

.sidebar ul li a i {
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}

.sidebar .link-name {
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;

}

.sidebar.active .link-name {
  opacity: 1;
  pointer-events: auto;
}

.sidebar a.active {
  background-color: #1a1259;
  color: #fff;
}

.header-content {
  background-color: white;
  position: absolute;
  height: 100%;
  width: calc(100% - 78px);
  left: 78px;
  transition: all 0.5s ease;
  z-index: 100; 
}
.header-content .text {
    font-size: 25px;
    font-weight: 800;
    font-style: italic;
    color: #fff;
    padding: 15px 20px;
    margin: 10px auto;
    background: #1a1259; 
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    letter-spacing: 1px;
    width: 100%;
    
    box-sizing: border-box;
}

  
.sidebar.active ~ .header-content{
    width: calc(100% - 240px);
    left: 240px;
    transition: all 0.5s ease;
    z-index: 0;


}


.home-content {
  background-color: white;
  position: absolute;
  top: 90px; 
  width: calc(80% - -205px);
  left: 90px;
  height: calc(100vh - 90px); 
  overflow-y: auto;
  transition: all 0.5s ease;
  z-index: 101;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;

}

.home-content .text {
  font-size: 25px;
  font-weight: 800;
  font-style: italic;
  color: #000000;
  padding: 15px 20px;
  margin: 10px auto;
  background: #ffffff; 
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  letter-spacing: 1px;
  width: 100%;
  box-sizing: border-box;
}

.sidebar.active ~ .home-content {
  width: calc(80% - -45px);
  left: 250px;
  top: 90px; 
  transition: all 0.5s ease;
  z-index: 1;

}

.container {
  display: flex;
  padding: 10px;
  margin-right:45px;
  margin-left:45px;
}

.main-content {
flex-grow: 1;
display: flex;
flex-direction: column;
gap: 20px;
}



.controls {
  display: flex;
  justify-content: flex-end; 
  margin-bottom: 10px;
  gap: 10px; 
  margin-top: 10px;
  margin-right: 50px;


}

.search-container {
  position: relative;
}

.search-container input[type="text"] {
  padding: 8px 45px 8px 10px; 
  font-size: 14px;
  width: 250px;
  border-radius: 50px;
  border: 1px solid #ccc;
  outline: none;
  border: #000000 solid;

}

.search-btn {
  position: absolute;
  right: 5px; 
  top: 50%;
  transform: translateY(-50%);
  background-color: #1a1259;
  color: white;
  padding: 5px 5px;
  border-radius: 100px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  width: 30px
  
}

.search-btn:hover {
  background-color: #1a1259;

}

.search-btn:focus {
  outline: none; 
}


.add-btn {
  color: #ffffff;
  background-color: #1a1259;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px; 
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.add-btn:hover {
  background-color: #1a1259;
  transform: scale(1.05);

}

.add-btn:focus {
  outline: none; 
}

.control-button {
  color: #1a1259;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px; 
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
  background-color: transparent;
}

.control-button:hover {
  transform: scale(1.15);

}

.control-button i {
  font-size: 25px; 
  transform: scale(1.05);


}




table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #1a1259;
}

thead {
  background-color: #1a1259;
  color: white;
  font-size: 13px;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  font-size: 13px;
}

tbody td {
  height: 40px;
}

button.btn {
background-color: #f3e5dc;
border: none;
border-radius: 10px;
padding: 6px 12px;
font-size: 14px;
cursor: pointer;
display: flex;
align-items: center;
gap: 5px;
}

button.btn:hover {
background-color: #e6d2c4;
}



