@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
      

.logo_img{
  height: 150px;
  width: 350px;
  border-radius: 50%;
}

.time{
  display: flex;
  justify-content: space-evenly;
  padding: 10px 30px;
  border: 2px solid #1a1259;
  box-sizing: border-box;

}

.time p{
  margin: 8px
}

.time_in{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin-top: 30px;
  box-sizing: border-box;
}

.time_in h2{
  text-align: center;
  background-color: #afb4db;
  padding: 10px;
  width: 460px;
}

.time_in .row1{
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
  margin-top: 30px;
}


.time_in .row2{
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
}

.row_email{
  margin: 0px 10px;
}

.row_id{
  margin: 0px 10px;
}

.row_category{
  margin: 0px 10px;
} 

.row_reason{
  margin: 0px 10px;
}

.time_in .row1 input{
  width: 220px;
  height: 40px;

  padding: 5px;
  padding-left: 10px;

  font-family: Poppins, sans-serif;
  font-size: 16px;

  border-radius: 5px;
  border: 1px solid black;
}


.time_in .row2 select{
  width: 220px;
  height: 40px;
  border-radius: 5px;
  color: #1a1259;
  padding: 5px;
  padding-left: 10px;
}

.time_in .other{
  margin-left: 15px;
}

.time_in .other input{
  width: 460px;
  height: 50px;
  padding: 5px;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid black;
}

.time_in button{
  width: 460px;
  height: 50px;
  padding: 5px;
  margin-top: 20px;
  margin-left: 15px;
  border-radius: 5px;
  background-color: #1a1259;
  color: white;
}

