@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: #f1f1f1;
}

.form-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(96, 96, 96, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.new-data {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
  max-width: 100%;
  height: 600px;
  background: #e6ebef;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2e266d;
  color: #fff;
  padding: 20px;
  position: relative;
}

.title {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  width: 100%;
}

.close-btn {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: #fff;
  background: transparent;
  border: none;
  cursor: pointer;
}

.time-box-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 0px;
}

.time-box {
  background-color: #2e266d;
  color: white;
  padding: 5px 15px;
  margin: 10px auto;
  font-weight: bold;
  border-radius: 5px;
  font-size: 14px;
  border: 1px solid white;
  text-align: center;
}

.main-container {
  padding: 5px 60px;
  height: 450px;
  overflow-y: auto;
}

.section-heading {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 30px;
  color: #2e266d;
  align-items: center;
  text-align: center;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.form-group label,
.textarea-group label {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.form-group input[readonly],
.textarea-group textarea[readonly] {
  background-color: #f9f9f9;
  border-color: #ddd;
}

.textarea-group {
  margin-bottom: 20px;
}

.textarea-group textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  resize: vertical;
}

.btn-next-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.btn-next {
  background-color: #000566;
  color: #fff;
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
}

.btn-next:hover {
  background-color: #000341;
  color: white;
}

.btn-next[hidden] {
  display: none;
}